{
  "root": true,
  "extends": ["airbnb","airbnb/hooks","prettier"],
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error"],
    "import/no-unresolved": 0,
    "react/jsx-props-no-spreading": 0,
    "react/prop-types": 0
  }
}